<!-- MainPage.razor -->
@page "/Main"

<PageTitle>Contenido Principal</PageTitle>

<h1>Página Principal</h1>


<Panel></Panel>

<hr>

<Comentario></Comentario>

<hr>

<ArchivosAdj></ArchivosAdj>

<hr>

<Activity></Activity>


