@page "/Proyectos"

<PageTitle>Datos </PageTitle>



@using YoutrackReport.Servicios.Contrato;
@using YoutrackReport.Data
@using YoutrackReport.DTOs


@inject IObtieneProyectosServices proyectos;

<h1>Proyectos</h1>

<p>Obtiene proyectos de YouTrack </p>

@if (proyecto== null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>summary</th>
                <th>reporter</th>
                <th>description</th>


            </tr>
        </thead>
        <tbody>
            @foreach (var dato in proyecto)
            {
                <tr>
                    <td>@dato.summary</td>
                    <td>@dato.reporter</td>
                    <td>@dato.description</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private List<ProyectosDTO> proyecto;



    protected override async Task OnInitializedAsync()
    {
        await ObtenerData();


    }

    private async Task<List<ProyectosDTO>> ObtenerData()
    {

        return proyecto = await proyectos.ObtieneProyectos();
    }



}
